{% extends "base.html" %}

{% block page_content %}
<div class="container">
  <div class="page-header">
    <h1>New Kedves</h1>
  </div>
  <form action="" method="post" name="create_kedves">
      {{ form.hidden_tag() }}
      <p>
          <label for="name">Name:</label>
          {{ form.name(size=15) }}<br>
          {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
      </p>
          <label for="birth_date">Birth date:</label>
           {{ form.birth_date(class='datepicker-here') }}
           <script>
           $('#birth_date').datepicker({
             language: 'en',
             dateFormat: 'yyyy-mm-dd'
           })
           </script>
          <br>
          {% for error in form.birth_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>

        <button name="submit" type="submit">Add</button>
  </form>
</div>
{% endblock %}

